#about {
    background-color: #222; /* Fondo oscuro para la mitad de la pantalla */
    color: white; /* Texto blanco */
    padding: 3em 0;
    width: 100%; /* Ocupa la mitad de la pantalla */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    float: left; /* Alineación a la izquierda */
}