<section id="about" style="background-color: #222; padding: 3em 0">
  <div class="container">
    <div class="section-header">
      <h2>Sobre Nosotros</h2>
      <div class="line-red"></div>
      <p>
        Somos una tienda web dedicada a brindar las mejores experiencias de
        compra a nuestros clientes. Con una amplia gama de productos
        innovadores, nos esforzamos por ofrecer calidad, conveniencia y
        satisfacción en cada compra.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Nuestra Misión</h3>
        <p>
          Proveer productos de alta calidad a precios competitivos, mientras
          garantizamos una experiencia de compra agradable y segura para
          nuestros clientes.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Nuestra Visión</h3>
        <p>
          Ser la tienda web líder en el mercado, reconocida por nuestra
          excelencia en servicio al cliente y nuestro compromiso con la
          innovación y la calidad.
        </p>
      </div>
      <div class="col-md-4">
        <h3>Nuestros Valores</h3>
        <p>
          Innovación, integridad, calidad y satisfacción del cliente son los
          pilares que guían cada una de nuestras acciones y decisiones.
        </p>
      </div>
    </div>
    <br>
    <img src="../../../assets/img.jpg" />
  </div>
</section>
