<body class="imagen">
  <section class="container">
    <div class="login-container registro-box">
      <div class="circle circle-one"></div>
      <div class="form-container form">
        <h1>Registro</h1>
        <form (ngSubmit)="registrarse()">
          <div class="form-group">
            <label for="username">Usuario:</label>
            <input
              type="text"
              id="username"
              [(ngModel)]="username"
              name="username"
              required
              class="form-control"
              placeholder="Ingresa el Usuario"
            />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              [(ngModel)]="password"
              name="password"
              required
              class="form-control"
              placeholder="Ingresa la Contraseña"
            />
          </div>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              [(ngModel)]="nombre"
              name="nombre"
              required
              class="form-control"
              placeholder="Ingresa el Nombre"
            />
          </div>
          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input
              type="text"
              id="apellido"
              [(ngModel)]="apellido"
              name="apellido"
              required
              class="form-control"
              placeholder="Ingresa el Apellido"
            />
          </div>
          <div class="form-group">
            <label for="edad">Edad:</label>
            <input
              type="text"
              id="edad"
              [(ngModel)]="edad"
              name="edad"
              required
              class="form-control"
              placeholder="Ingresa la Edad"
            />
          </div>
          <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input
              type="text"
              id="direccion"
              [(ngModel)]="direccion"
              name="direccion"
              required
              class="form-control"
              placeholder="Ingresa la Dirección"
            />
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input
              type="text"
              id="telefono"
              [(ngModel)]="telefono"
              name="telefono"
              required
              class="form-control"
              placeholder="Ingresa el Teléfono"
            />
          </div>
          <div class="form-group">
            <label for="correo">Correo:</label>
            <input
              type="email"
              id="correo"
              [(ngModel)]="correo"
              name="correo"
              required
              class="form-control"
              placeholder="Ingrea el Correo Electrónico"
            />
          </div>
          <div class="form-group">
            <label for="fecha">Fecha de Nacimiento:</label>
            <input
              type="date"
              id="fecha"
              [(ngModel)]="fecha"
              name="fecha"
              required
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="genero">Género:</label>
            <input
              type="text"
              id="genero"
              [(ngModel)]="genero"
              name="genero"
              required
              class="form-control"
              placeholder="M/F"
            />
          </div>
          <button type="submit" class="opacity btn btn-primary">
            Registrarse
          </button>
        </form>
      </div>
      <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
  </section>

  <script>
    const themes = [
      {
        background: "#1A1A2E",
        color: "#FFFFFF",
        primaryColor: "#0F3460",
      },
      {
        background: "#461220",
        color: "#FFFFFF",
        primaryColor: "#E94560",
      },
      {
        background: "#192A51",
        color: "#FFFFFF",
        primaryColor: "#967AA1",
      },
      {
        background: "#F7B267",
        color: "#000000",
        primaryColor: "#F4845F",
      },
      {
        background: "#F25F5C",
        color: "#000000",
        primaryColor: "#642B36",
      },
      {
        background: "#231F20",
        color: "#FFF",
        primaryColor: "#BB4430",
      },
    ];

    const setTheme = (theme) => {
      const root = document.querySelector(":root");
      root.style.setProperty("--background", theme.background);
      root.style.setProperty("--color", theme.color);
      root.style.setProperty("--primary-color", theme.primaryColor);
    };

    const displayThemeButtons = () => {
      const btnContainer = document.querySelector(".theme-btn-container");
      themes.forEach((theme) => {
        const div = document.createElement("div");
        div.className = "theme-btn";
        div.style.cssText = `background: ${theme.background}; width: 25px; height: 25px`;
        btnContainer.appendChild(div);
        div.addEventListener("click", () => setTheme(theme));
      });
    };

    displayThemeButtons();
  </script>
</body>
