<Body class="todo">

<div class="container">
  <h1>Carrito de Compras</h1>
  <div class="row">
    <div
      class="col-md-4 d-flex align-items-stretch"
      *ngFor="let item of carroProductos"
    >
      <div class="card mb-4 w-100">
        <img
          [src]="item.product.imageUrl"
          class="card-img-top"
          alt="..."
          style="height: 200px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.product.nombre }}</h5>
          <p class="card-text">Precio unitario: {{ item.product.precio }}</p>
          <p class="card-text">Cantidad: {{ item.cantidad }}</p>
          <p class="card-text">
            Total: {{ item.product.precio * item.cantidad }}
          </p>
          <button
            class="btn btn-danger"
            (click)="funcionEliminar(item.product.id)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="procederPago()">
    Proceder al Pago
  </button>
  <br><br><br><br>
  <img class="img" src="https://t3.ftcdn.net/jpg/05/26/08/66/360_F_526086613_loauXk7bu9VMN7aphjFAfRrkiGJNLbNM.jpg" alt="">

</div>
</Body>