<section class="section1">
    <div class="col-der">
        <div class="textoSection1">
            <h1>Bienvenido</h1>
            <h2>Lorem ipsum dolor sit amet.</h2>
            <div class="boton-get-started">
               <h3>Ver mas</h3>
            </div>
            
        </div>
        <div class="col-bottom">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit <br> Vero dicta delectus molestiae iure. Provident ratione numquam eveniet modi sunt, nulla ipsa illo at, aut in illum accusantium inventore! <br> Nobis ex facere impedit accusamus asperiores quasi praesentium quos</p>
            </div>
            <div class="imagenes-col-derecha">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>
    </div>
</section>

    