*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1{
    padding: 50px;

}

.textoSection1{
    font-weight: bold;
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.col-bottom{
    display: flex;
    justify-content: space-between;
}