/* General Styles */
body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background: #222; /* Color oscuro */
  color: white; /* Texto blanco */
}

section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: main-font;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: main-font;
  font-size: 1.875em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: h3-font;
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-family: main-font;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  line-height: 150%;
  font-family: content-font;
  font-size: 0.9375em;
  color: #999;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#section-1 {
  height: auto; /* Permite que la altura se ajuste automáticamente */
  color: white;
  background-color: #222;
}

.content-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-slider input {
  display: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s ease;
}

.banner-inner-wrapper {
  height: 100%;
  padding-top: 6em;
  background-image: linear-gradient(rgba(78, 32, 32, 0.61), rgba(0, 0, 0, 0.9));
  box-sizing: border-box;
  color: white; /* Asegura que el texto sea visible */
}

.banner-inner-wrapper h2 {
  padding-bottom: 0.3em;
  font-family: h3-font;
  font-weight: 400;
  font-size: 2.5em;
  text-transform: none;
}

.banner-inner-wrapper h1 {
  font-size: 6em;
  line-height: 95%;
}

.line {
  display: block;
  width: 4em;
  height: 0.1875em;
  margin: 2.5em auto;
  background: white; /* Cambiado a blanco */
}

.learn-more-button {
  padding-bottom: 5em;
  z-index: 15 !important;
}

.learn-more-button a {
  padding: 0.5em 2em;
  text-align: center;
  font-family: main-font;
  font-size: 0.875em;
  color: white; /* Cambiado a blanco */
  text-transform: uppercase;
  border: 0.1875em solid white; /* Cambiado a blanco */
}

.learn-more-button a:hover {
  color: #e88382;
  border-color: #e88382;
  transition: 0.3s;
}

#top-banner-1 {
  background: url("https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-1.png")
    no-repeat center center;
  background-size: cover;
}

#top-banner-2 {
  background: url("https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-2.png")
    no-repeat center center;
  background-size: cover;
}

#top-banner-3 {
  background: url("https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-3.png")
    no-repeat center center;
  background-size: cover;
}

#top-banner-4 {
  background: url("https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-4.png")
    no-repeat center center;
  background-size: cover;
}

nav {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  z-index: 10;
  text-align: center;
}

.controls {
  display: block;
  width: 70%;
  margin: 0 auto;
  font-family: main-font;
  color: white; /* Cambiado a blanco */
}

.controls label {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 3.1em;
  overflow: hidden;
  margin: 0 1em;
  padding-top: 1em;
  text-align: left;
  text-transform: uppercase;
  font-family: main-font;
  font-size: 1em;
  color: #f6eac5;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

.controls label .progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #f6eac5;
}

.controls label .progressbar .progressbar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #e88382;
  transition: all 0.5s;
}

.controls label:hover {
  color: #e88382;
}

input#banner1:checked ~ .slider #top-banner-1,
input#banner2:checked ~ .slider #top-banner-2,
input#banner3:checked ~ .slider #top-banner-3,
input#banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}

input#banner1:checked
  ~ nav
  .controls
  label[for="banner1"]
  .progressbar
  .progressbar-fill,
input#banner2:checked
  ~ nav
  .controls
  label[for="banner2"]
  .progressbar
  .progressbar-fill,
input#banner3:checked
  ~ nav
  .controls
  label[for="banner3"]
  .progressbar
  .progressbar-fill,
input#banner4:checked
  ~ nav
  .controls
  label[for="banner4"]
  .progressbar
  .progressbar-fill {
  width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 14px;
  }
  #section-1 {
    height: 34em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 7em;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  .main-header .header-wrapper {
    width: 80%;
  }
  #section-1 {
    height: 28em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 7em;
  }
  #section-2,
  #section-3 {
    height: auto;
  }
}
